<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "project/header.html" %}
  </head>

  <body>
    <style type="text/css">
      .main {
        min-height: 100vh;
        height: 100%;
      }
    </style>
    <div class="main">
      {% include "project/navbar.html" %}
      <div class="container-fluid">
        {% block content %} 
        {% include "project/body.html" %} 
        {% endblock content%}
      </div>
      {% include "project/bodycdns.html" %}
    </div>
  </body>

  <footer>{% include "project/footer.html" %}</footer>
</html>
